
<div id="container">
	<div class="product-details">
    <h1><%= @pokemon.name %></h1>
        <p class="information">Weight :<%= @pokemon.weight %></p>
        <p class="information">Height :<%= @pokemon.height %></p>
        <p class="information">Type: <%= @pokemon.type_one %> / <%= @pokemon.type_two if @pokemon.type_two.present? %></p>
    <div class="control pokemon-btn">
      <button class="btn">
        <span class="price">BACK</span>
        <span><%= link_to "BACK", pokemon_index_path, class: "pokemon-link" %></span>
      </button>
    </div>
  </div>

  <div class="product-image">
    <%= cl_image_tag @pokemon.photo.key, height: 100, width: 100, crop: :fill, class: 'pokemon-show-img' %>
    <div class="info">
      <h2> Description</h2>
      <ul>
        <li><strong>HP : </strong><%= @pokemon.hp %></li>
        <li><strong>Atk :</strong><%= @pokemon.atk %></li>
        <li><strong>Def : </strong><%= @pokemon.def %></li>
        <li><strong>SpAtk : </strong><%= @pokemon.spatk %></li>
        <li><strong>SpDef : </strong><%= @pokemon.spdef %></li>
        <li><strong>Speed : </strong><%= @pokemon.speed %></li>
      </ul>
    </div>
  </div>
</div>
